<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="gotoGenres()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{genre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col size-xs="6" size-sm="4" size-md="3" size-lg="2" size-xl="1" *ngFor="let station of stations">
              <app-station [station]="station"/>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
