<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="gotoHome()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Countries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-grid>
          <ion-row class="country-row" *ngFor="let country of countries" (click)="gotoCountry(country.code)">
            <ion-col size="auto">
              <img class="flag-img" [src]="'/assets/flags/' + country.code.toLowerCase() + '.svg'" alt="">
            </ion-col>
            <ion-col>
              <p>{{country.name}}</p>
              </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
