.swiper-slide, .swiper-slide-container {
  width: 100px !important;
}

.huge-button {
  border-radius: 8px;

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  :hover {
    cursor: pointer;
  }

  h2 {
    padding: 50px 30px;
    text-align: center;
  }
}

.countries {
  background-image: url('../../../assets/images/worldmap.jpg');
}

.genres {
  background-image: url('../../../assets/images/genres.jpg');
}
