<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2>Top stations in austria</h2>
    <swiper [slidesPerView]="'auto'" [effect]="'fade'" watch-slides-visibility="true" [spaceBetween]="10" [slidesOffsetBefore]="10"
      [keyboard]="{enabled: true}" class="my-swiper">
      <ng-template swiperSlide class="lul" *ngFor="let station of topGermanStations; index as i">
        <div class="swiper-slide-container" (click)="clickedStation(station)">
          <img [src]="station.icon" alt="">
          <p>{{station.name}}</p>
        </div>
      </ng-template>
    </swiper>

    <button (click)="gotoGenres()">
      fief
    </button>
  </div>
</ion-content>
