.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;

    img {
      height: 100px;
      width: 100px;
    }

    p {
      font-size: 0.8rem;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}

.swiper-slide-container {

  img {
    height: 100px !important;
    width: 100px !important;
  }

  p {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.swiper-slide {
  width: 100px !important;
}
